.block_remaining_lesson_timer  .completed {
    color: green;
    font-weight: bold;
}


.block_remaining_lesson_timer  .minutestogo {
    font-weight: bold;
    background: #ffc;
    margin-top: 5px;
}

